<!-- about_us.html -->
{% load static %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Baytech Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>About Us - OGANI</title>

    <style>
        body {
                 font-family: Arial, sans-serif;
                 margin: 0;
                 padding: 0;
                 background-color: #f4f4f4;
                 color: #333;
             }

             header {

                 color: #fff;
                 text-align: center;
                 padding: 10px;
         }
    </style>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'sass/style.css' %}" type="text/css"> <!-- change sass to css in the end  -->

    <style>
        /* Add custom styles here */
        .header__menu ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
        }

        .header__menu li {
            margin-right: 20px;
        }

        .header__cart ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-end;
        }

        .header__cart li {
            margin-left: 10px;
        }
    </style>

</head>

<body>

<!-- Page Preloader -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- Page Preloader END -->

{%if request.user.is_authenticated%}
{% include "customer_navbar.html" %}
{%else%}
{% include "navbar.html" %}
{%endif%}


<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f4f4f4; color: #333;">

<header style="background-color: #833030; color: #fff; text-align: center; padding: 10px;">
    <h2>ABOUT US</h2>
</header>

<div class="container" style="display: flex; align-items: center; justify-content: center; min-height: 100vh;">
    <div class="content"
         style="width: 80%; padding: 20px; background-color: #fff; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">

        <h3 style="color: #333; margin-bottom: 20px;">WELCOME TO OGANI</h3>
        <br>
        <p style="line-height: 1.6; margin-bottom: 15px;">At ogani, we are dedicated to bringing you a diverse range of
            the latest and highest quality products in the supermarket industry. With our roots firmly planted, we've
            charted a course that aligns with your needs for top-notch yet affordable items. As a team, we take pride in
            offering not just products but a shopping experience that comes with excellent customer service and
            unwavering support.</p>

        <h4 style="color: #333; margin-bottom: 15px;">OUR JOURNEY</h4>
        <br>
        <p style="line-height: 1.6; margin-bottom: 15px;">Our journey has been one of continuous growth and learning.
            Over the years, we've honed our understanding of the supermarket, allowing us to curate a selection that
            reflects the latest trends and innovations. We're not just in the business of providing goods; we're here to
            meet your desires and expectations.</p>

        <!-- Include additional paragraphs as needed -->

        <p style="text-align: right; color: #333;"><strong>Join Us on this Journey</strong></p>
        <p style="text-align: right; line-height: 1.6; margin-bottom: 15px; color: #333;">As you explore Your
            Supermarket Store Name, we hope you enjoy the carefully selected products as much as we enjoy making them
            available to you. Your feedback and suggestions are always welcome, as we believe that your insights help us
            evolve and serve you better.</p>

        <p style="text-align: right; color: #333;"><strong>Thank you for being a part of our story. Here's to a
            delightful shopping experience at ogani.</strong></p>
    </div>
</div>
</body>
{% include 'footer.html' %}

<script>
    var imageIndex1 = 0;
    var imagePaths1 = [
        '{{ products.product_1.image_2 }}.jpg',
        '{{ products.product_1.image_3 }}.jpg',
        '{{ products.product_1.image_4 }}.jpg',
        '{{ products.product_1.image_5 }}.jpg'
    ];

    function changeImage1() {
        var featuredItem = document.querySelector('.col-lg-3 .featured__item__pic');
        featuredItem.style.backgroundImage = "url('media/" +  imagePaths1[imageIndex1] + "')";
        imageIndex1 = (imageIndex1 + 1) % imagePaths1.length;
    }

    var imageIndex2 = 0;
    var imagePaths2 = [
        '{{ products.product_2.image_2 }}.jpg',
        '{{ products.product_2.image_3 }}.jpg',
        '{{ products.product_2.image_4 }}.jpg',
        '{{ products.product_2.image_5 }}.jpg'
    ];

    function changeImage2() {
        var featuredItem = document.querySelector('.col-lg-3:nth-child(2) .featured__item__pic');
        featuredItem.style.backgroundImage = "url('media/"  + imagePaths2[imageIndex2] + "')";
        imageIndex2 = (imageIndex2 + 1) % imagePaths2.length;
    }

    var imageIndex3 = 0;
    var imagePaths3 = [
        '{{ products.product_3.image_2 }}.jpg',
        '{{ products.product_3.image_3 }}.jpg',
        '{{ products.product_3.image_4 }}.jpg',
        '{{ products.product_3.image_5 }}.jpg'
    ];

    function changeImage3() {
        var featuredItem = document.querySelector('.col-lg-3:nth-child(3) .featured__item__pic'); // Adjust the selector as needed
        featuredItem.style.backgroundImage = "url('media/" + imagePaths3[imageIndex3] + "')";
        imageIndex3 = (imageIndex3 + 1) % imagePaths3.length;
    }

    // Variables for Product 4
    var imageIndex4 = 0;
    var imagePaths4 = [
        '{{ products.product_4.image_2 }}.jpg',
        '{{ products.product_4.image_3 }}.jpg',
        '{{ products.product_4.image_4 }}.jpg',
        '{{ products.product_4.image_5 }}.jpg'
    ];

    function changeImage4() {
        var featuredItem = document.querySelector('.col-lg-3:nth-child(4) .featured__item__pic'); // Adjust the selector as needed
        featuredItem.style.backgroundImage = "url('media/" + imagePaths4[imageIndex4] + "')";
        imageIndex4 = (imageIndex4 + 1) % imagePaths4.length;
    }

    // Variables for Product 5
    var imageIndex5 = 0;
    var imagePaths5 = [
        '{{ products.product_5.image_2 }}.jpg',
        '{{ products.product_5.image_3 }}.jpg',
        '{{ products.product_5.image_4 }}.jpg',
        '{{ products.product_5.image_5 }}.jpg'
    ];

    function changeImage5() {
        var featuredItem = document.querySelector('.col-lg-3:nth-child(5) .featured__item__pic'); // Adjust the selector as needed
        featuredItem.style.backgroundImage = "url('media/" + imagePaths5[imageIndex5] + "')";
        imageIndex5 = (imageIndex5 + 1) % imagePaths5.length;
    }

    // Variables for Product 6
    var imageIndex6 = 0;
    var imagePaths6 = [
        '{{ products.product_6.image_2 }}.jpg',
        '{{ products.product_6.image_3 }}.jpg',
        '{{ products.product_6.image_4 }}.jpg',
        '{{ products.product_6.image_5 }}.jpg'
    ];

    function changeImage6() {
        var featuredItem = document.querySelector('.col-lg-3:nth-child(6) .featured__item__pic'); // Adjust the selector as needed
        featuredItem.style.backgroundImage = "url('media/" + imagePaths6[imageIndex6] + "')";
        imageIndex6 = (imageIndex6 + 1) % imagePaths6.length;
    }

    // Variables for Product 7
    var imageIndex7 = 0;
    var imagePaths7 = [
        '{{ products.product_7.image_2 }}.jpg',
        '{{ products.product_7.image_3 }}.jpg',
        '{{ products.product_7.image_4 }}.jpg',
        '{{ products.product_7.image_5 }}.jpg'
    ];

    function changeImage7() {
        var featuredItem = document.querySelector('.col-lg-3:nth-child(7) .featured__item__pic'); // Adjust the selector as needed
        featuredItem.style.backgroundImage = "url('media/" + imagePaths7[imageIndex7] + "')";
        imageIndex7 = (imageIndex7 + 1) % imagePaths7.length;
    }

    // Variables for Product 8
    var imageIndex8 = 0;
    var imagePaths8 = [
        '{{ products.product_8.image_2 }}.jpg',
        '{{ products.product_8.image_3 }}.jpg',
        '{{ products.product_8.image_4 }}.jpg',
        '{{ products.product_8.image_5 }}.jpg'
    ];

    function changeImage8() {
        var featuredItem = document.querySelector('.col-lg-3:nth-child(8) .featured__item__pic'); // Adjust the selector as needed
        featuredItem.style.backgroundImage = "url('media/" + imagePaths8[imageIndex8] + "')";
        imageIndex8 = (imageIndex8 + 1) % imagePaths8.length;
    }


</script>
<!-- JS Plugins -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/mixitup.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>

