{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Baytech</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'sass/style.css' %}" type="text/css">
</head>

<body>
<!-- Page Preloader -->

<!-- Page Preloader -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- Page Preloader END -->
{%if request.user.is_authenticated%}
{% include "customer_navbar.html" %}
{%else%}
{% include "navbar.html" %}
{%endif%}
<!-- Header Section END -->

<!-- Hero Section END -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Blog</h2>
                    <div class="breadcrumb__option">
                        <a href="{% url 'home' %}">Home</a>
                        <span>Blog</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Blog Section -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Categories</h4>
                        {% for product in products|slice:":5" %}
                        <ul>
                            <li><a href="#">{{product.cate}}</a></li>

                        </ul>
                        {% endfor %}
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Recent News</h4>
                        {% for product in products|slice:":2" %}
                        <div class="blog__sidebar__recent">
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="{{ product.reimage.url }}" alt="{{ product.retitle }}">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h5><a style="color: black; font-weight: bold;" href="{{ product.relink }}"
                                           target="_blank">{{ product.retitle }}</a></h5>
                                    <p>{{ product.recontent }}</p>
                                    <p>{{ product.redate }}</p>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>


                    <div class="blog__sidebar__item">
                        <h4>Explore Insights: Our Dynamic Blog</h4>
                        {% for product in products|slice:":1" %}
                        <div class="blog__sidebar__item__tags">
                            <p>{{product.para}}</p>

                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-7">
                <div class="row">
                    {% for product in products %}
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="{{ product.image.url }}" alt="{{ product.retitle }}">
                            </div>
                            <div class="blog__item__text">
                                <h5><a href="{{ product.link }}" target="_blank">{{ product.title }}</a></h5>
                                <p>{{ product.content }}</p>
                                <p>{{ product.date }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer Section -->
{% include "footer.html" %}
<!-- Footer Section END -->

<!-- JS Plugins -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/mixitup.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>

</body>

</html>
