{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>baytech</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'sass/style.css' %}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        h2 {
          text-align: center;
          font-weight: bold;
    </style>
</head>
<body>
<!-- Page Preloader -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- Page Preloader END -->
{%if request.user.is_authenticated%}
{% include "customer_navbar.html" %}
{%else%}
{% include "navbar.html" %}
{%endif%}

<!-- Header Section END -->
<!-- Hero Section -->


<section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title from-blog__title">
                    <h2>Cancel Order</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for ordered_products, order, detail, cancel_status in data %}
            {% for product in ordered_products %}
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="/media/{{ product.image_1 }}" alt="">
                    </div>
                    <div class="blog__item__text">
                        <h4>{{ product.product_name }}</h4>
                        <p>Price: {{ product.sales_price }}</p>
                        {% if cancel_status == "Cancel Order" %}
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {%else%}
                            <p></p>
                            {%endif%}
                            <button type="submit"
                                    style="background-color: #dc3545; color: #fff; border: none; padding: 10px 20px; cursor: pointer; border-radius: 5px; font-size: 16px; transition: background-color 0.3s ease;"
                                    onmouseover="this.style.backgroundColor='#c82333'"
                                    onmouseout="this.style.backgroundColor='#dc3545'"
                                    onmousedown="this.style.backgroundColor='#bd2130'"
                                    onmouseup="this.style.backgroundColor='#c82333'"
                                    onclick="cancelOrder('{{ detail.id }}', '{{ product.product_name }}')">
                                {{cancel_status }}
                            </button>
                        </form>
                        <br>
                        {% if cancel_status == "Order Cancelled" %}
                        <p style="border: 1px solid black; padding: 10px;">
                            We've received your cancellation request. Your refund is being processed and will be
                            credited back to your original payment method soon. Please allow some time for the refunded
                            amount to appear in your account. If you have any questions, feel free to contact our
                            customer support team.
                        </p>
                        {% else %}
                        <p></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</section>

<!-- Footer Section -->
{% include "footer.html" %}
<!-- Footer Section END -->
<script>
    function cancelOrder(productId, productName) {
        // Use jQuery to send an AJAX request to the server
        $.ajax({
            url: '/cancel_order/' + productId + '/',  // Update the URL to match your Django view
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                // Reload the page
                location.reload();
            },
            error: function (error) {
                // Handle errors
                console.error('Error cancelling order:', error);
            }
        });
    }

        var imagePaths1 = [
            '{{ products.product_1.image_2 }}.jpg',
            '{{ products.product_1.image_3 }}.jpg',
            '{{ products.product_1.image_4 }}.jpg',
            '{{ products.product_1.image_5 }}.jpg'
        ];
        function changeImage1() {
            var featuredItem = document.querySelector('.col-lg-3 .featured__item__pic');
            featuredItem.style.backgroundImage = "url('media/" +  imagePaths1[imageIndex1] + "')";
            imageIndex1 = (imageIndex1 + 1) % imagePaths1.length;
        }
        var imageIndex2 = 0;
        var imagePaths2 = [
            '{{ products.product_2.image_2 }}.jpg',
            '{{ products.product_2.image_3 }}.jpg',
            '{{ products.product_2.image_4 }}.jpg',
            '{{ products.product_2.image_5 }}.jpg'
        ];
        function changeImage2() {
            var featuredItem = document.querySelector('.col-lg-3:nth-child(2) .featured__item__pic');
            featuredItem.style.backgroundImage = "url('media/"  + imagePaths2[imageIndex2] + "')";
            imageIndex2 = (imageIndex2 + 1) % imagePaths2.length;
        }
        var imageIndex3 = 0;
        var imagePaths3 = [
            '{{ products.product_3.image_2 }}.jpg',
            '{{ products.product_3.image_3 }}.jpg',
            '{{ products.product_3.image_4 }}.jpg',
            '{{ products.product_3.image_5 }}.jpg'
        ];
        function changeImage3() {
            var featuredItem = document.querySelector('.col-lg-3:nth-child(3) .featured__item__pic'); // Adjust the selector as needed
            featuredItem.style.backgroundImage = "url('media/" + imagePaths3[imageIndex3] + "')";
            imageIndex3 = (imageIndex3 + 1) % imagePaths3.length;
        }
        // Variables for Product 4
        var imageIndex4 = 0;
        var imagePaths4 = [
            '{{ products.product_4.image_2 }}.jpg',
            '{{ products.product_4.image_3 }}.jpg',
            '{{ products.product_4.image_4 }}.jpg',
            '{{ products.product_4.image_5 }}.jpg'
        ];
        function changeImage4() {
            var featuredItem = document.querySelector('.col-lg-3:nth-child(4) .featured__item__pic'); // Adjust the selector as needed
            featuredItem.style.backgroundImage = "url('media/" + imagePaths4[imageIndex4] + "')";
            imageIndex4 = (imageIndex4 + 1) % imagePaths4.length;
        }
        // Variables for Product 5
        var imageIndex5 = 0;
        var imagePaths5 = [
            '{{ products.product_5.image_2 }}.jpg',
            '{{ products.product_5.image_3 }}.jpg',
            '{{ products.product_5.image_4 }}.jpg',
            '{{ products.product_5.image_5 }}.jpg'
        ];
        function changeImage5() {
            var featuredItem = document.querySelector('.col-lg-3:nth-child(5) .featured__item__pic'); // Adjust the selector as needed
            featuredItem.style.backgroundImage = "url('media/" + imagePaths5[imageIndex5] + "')";
            imageIndex5 = (imageIndex5 + 1) % imagePaths5.length;
        }
        // Variables for Product 6
        var imageIndex6 = 0;
        var imagePaths6 = [
            '{{ products.product_6.image_2 }}.jpg',
            '{{ products.product_6.image_3 }}.jpg',
            '{{ products.product_6.image_4 }}.jpg',
            '{{ products.product_6.image_5 }}.jpg'
        ];
        function changeImage6() {
            var featuredItem = document.querySelector('.col-lg-3:nth-child(6) .featured__item__pic'); // Adjust the selector as needed
            featuredItem.style.backgroundImage = "url('media/" + imagePaths6[imageIndex6] + "')";
            imageIndex6 = (imageIndex6 + 1) % imagePaths6.length;
        }
        // Variables for Product 7
        var imageIndex7 = 0;
        var imagePaths7 = [
            '{{ products.product_7.image_2 }}.jpg',
            '{{ products.product_7.image_3 }}.jpg',
            '{{ products.product_7.image_4 }}.jpg',
            '{{ products.product_7.image_5 }}.jpg'
        ];
        function changeImage7() {
            var featuredItem = document.querySelector('.col-lg-3:nth-child(7) .featured__item__pic'); // Adjust the selector as needed
            featuredItem.style.backgroundImage = "url('media/" + imagePaths7[imageIndex7] + "')";
            imageIndex7 = (imageIndex7 + 1) % imagePaths7.length;
        }
        // Variables for Product 8
        var imageIndex8 = 0;
        var imagePaths8 = [
            '{{ products.product_8.image_2 }}.jpg',
            '{{ products.product_8.image_3 }}.jpg',
            '{{ products.product_8.image_4 }}.jpg',
            '{{ products.product_8.image_5 }}.jpg'
        ];
        function changeImage8() {
            var featuredItem = document.querySelector('.col-lg-3:nth-child(8) .featured__item__pic'); // Adjust the selector as needed
            featuredItem.style.backgroundImage = "url('media/" + imagePaths8[imageIndex8] + "')";
            imageIndex8 = (imageIndex8 + 1) % imagePaths8.length;
        }

</script>
<!-- JS Plugins -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script> <!-- Add this line for Popper.js -->
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/mixitup.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
